src/main/resources/wsdl/HDWBROUT.xml

<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.HDWEBUPA.HDWBROUT.com" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns3="http://schemas.xmlsoap.org/soap/http" xmlns:ns2="https://www.HDWEBUPA.HDWBROUT.Response.com" xmlns:ns1="https://www.HDWEBUPA.HDWBROUT.Request.com" name="HDWEBUPAService" targetNamespace="http://www.HDWEBUPA.HDWBROUT.com">
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="https://www.HDWEBUPA.HDWBROUT.Request.com" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="https://www.HDWEBUPA.HDWBROUT.Request.com">
            <xsd:annotation>
                <xsd:documentation source="http://www.ibm.com/software/htp/cics/annotations">This schema was generated by the CICS Web services assistant.</xsd:documentation>
            </xsd:annotation>
            <xsd:annotation>
                <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations"> com.ibm.cics.wsdl.properties.mappingLevel=3.0</xsd:appinfo>
            </xsd:annotation>
            <xsd:complexType abstract="false" block="#all" final="#all" mixed="false" name="ProgramInterface">
                <xsd:sequence>
                    <xsd:element name="rout_rec" nillable="false">
                        <xsd:complexType mixed="false">
                            <xsd:sequence>
                                <xsd:element name="rout_request_identification" nillable="false">
                                    <xsd:complexType mixed="false">
                                        <xsd:sequence>
                                            <xsd:element name="rout_h_order_id" nillable="false">
                                                <xsd:simpleType>
                                                    <xsd:annotation>
                                                        <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations"> com.ibm.cics.wsdl.properties.charlength=fixed com.ibm.cics.wsdl.properties.synchronized=false</xsd:appinfo>
                                                    </xsd:annotation>
                                                    <xsd:restriction base="xsd:string">
                                                        <xsd:maxLength value="12"/>
                                                        <xsd:whiteSpace value="collapse"/>
                                                    </xsd:restriction>
                                                </xsd:simpleType>
                                            </xsd:element>
                                            <xsd:element name="rout_h_sr_trans_type" nillable="false">
                                                <xsd:simpleType>
                                                    <xsd:annotation>
                                                        <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations"> com.ibm.cics.wsdl.properties.charlength=fixed com.ibm.cics.wsdl.properties.synchronized=false</xsd:appinfo>
                                                    </xsd:annotation>
                                                    <xsd:restriction base="xsd:string">
                                                        <xsd:maxLength value="12"/>
                                                        <xsd:whiteSpace value="collapse"/>
                                                    </xsd:restriction>
                                                </xsd:simpleType>
                                            </xsd:element>
                                            <xsd:element name="rout_h_function" nillable="false">
                                                <xsd:simpleType>
                                                    <xsd:annotation>
                                                        <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations"> com.ibm.cics.wsdl.properties.charlength=fixed com.ibm.cics.wsdl.properties.synchronized=false</xsd:appinfo>
                                                    </xsd:annotation>
                                                    <xsd:restriction base="xsd:string">
                                                        <xsd:maxLength value="1"/>
                                                        <xsd:whiteSpace value="collapse"/>
                                                    </xsd:restriction>
                                                </xsd:simpleType>
                                            </xsd:element>
                                            <xsd:element name="rout_h_trans_id" nillable="false">
                                                <xsd:simpleType>
                                                    <xsd:annotation>
                                                        <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations"> com.ibm.cics.wsdl.properties.charlength=fixed com.ibm.cics.wsdl.properties.synchronized=false</xsd:appinfo>
                                                    </xsd:annotation>
                                                    <xsd:restriction base="xsd:string">
                                                        <xsd:maxLength value="9"/>
                                                        <xsd:whiteSpace value="collapse"/>
                                                    </xsd:restriction>
                                                </xsd:simpleType>
                                            </xsd:element>
                                            <xsd:element name="rout_h_operator_id" nillable="false">
                                                <xsd:simpleType>
                                                    <xsd:annotation>
                                                        <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations"> com.ibm.cics.wsdl.properties.charlength=fixed com.ibm.cics.wsdl.properties.synchronized=false</xsd:appinfo>
                                                    </xsd:annotation>
                                                    <xsd:restriction base="xsd:string">
                                                        <xsd:maxLength value="3"/>
                                                        <xsd:whiteSpace value="collapse"/>
                                                    </xsd:restriction>
                                                </xsd:simpleType>
                                            </xsd:element>
                                        </xsd:sequence>
                                    </xsd:complexType>
                                </xsd:element>
                                <xsd:element name="rout_q_request_info" nillable="false">
                                    <xsd:complexType mixed="false">
                                        <xsd:sequence>
                                            <xsd:element name="rout_q_delivery_type" nillable="false">
                                                <xsd:simpleType>
                                                    <xsd:annotation>
                                                        <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations"> com.ibm.cics.wsdl.properties.charlength=fixed com.ibm.cics.wsdl.properties.synchronized=false</xsd:appinfo>
                                                    </xsd:annotation>
                                                    <xsd:restriction base="xsd:string">
                                                        <xsd:maxLength value="2"/>
                                                        <xsd:whiteSpace value="collapse"/>
                                                    </xsd:restriction>
                                                </xsd:simpleType>
                                            </xsd:element>
                                            <xsd:element name="rout_q_street_no" nillable="false">
                                                <xsd:simpleType>
                                                    <xsd:annotation>
                                                        <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations"> com.ibm.cics.wsdl.properties.charlength=fixed com.ibm.cics.wsdl.properties.synchronized=false</xsd:appinfo>
                                                    </xsd:annotation>
                                                    <xsd:restriction base="xsd:string">
                                                        <xsd:maxLength value="9"/>
                                                        <xsd:whiteSpace value="collapse"/>
                                                    </xsd:restriction>
                                                </xsd:simpleType>
                                            </xsd:element>
                                            <xsd:element name="rout_q_pfx" nillable="false">
                                                <xsd:simpleType>
                                                    <xsd:annotation>
                                                        <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations"> com.ibm.cics.wsdl.properties.charlength=fixed com.ibm.cics.wsdl.properties.synchronized=false</xsd:appinfo>
                                                    </xsd:annotation>
                                                    <xsd:restriction base="xsd:string">
                                                        <xsd:maxLength value="2"/>
                                                        <xsd:whiteSpace value="collapse"/>
                                                    </xsd:restriction>
                                                </xsd:simpleType>
                                            </xsd:element>
                                            <xsd:element name="rout_q_street" nillable="false">
                                                <xsd:simpleType>
                                                    <xsd:annotation>
                                                        <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations"> com.ibm.cics.wsdl.properties.charlength=fixed com.ibm.cics.wsdl.properties.synchronized=false</xsd:appinfo>
                                                    </xsd:annotation>
                                                    <xsd:restriction base="xsd:string">
                                                        <xsd:maxLength value="16"/>
                                                        <xsd:whiteSpace value="collapse"/>
                                                    </xsd:restriction>
                                                </xsd:simpleType>
                                            </xsd:element>
                                            <xsd:element name="rout_q_sfx" nillable="false">
                                                <xsd:simpleType>
                                                    <xsd:annotation>
                                                        <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations"> com.ibm.cics.wsdl.properties.charlength=fixed com.ibm.cics.wsdl.properties.synchronized=false</xsd:appinfo>
                                                    </xsd:annotation>
                                                    <xsd:restriction base="xsd:string">
                                                        <xsd:maxLength value="3"/>
                                                        <xsd:whiteSpace value="collapse"/>
                                                    </xsd:restriction>
                                                </xsd:simpleType>
                                            </xsd:element>
                                            <xsd:element name="rout_q_dir_sfx" nillable="false">
                                                <xsd:simpleType>
                                                    <xsd:annotation>
                                                        <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations"> com.ibm.cics.wsdl.properties.charlength=fixed com.ibm.cics.wsdl.properties.synchronized=false</xsd:appinfo>
                                                    </xsd:annotation>
                                                    <xsd:restriction base="xsd:string">
                                                        <xsd:maxLength value="2"/>
                                                        <xsd:whiteSpace value="collapse"/>
                                                    </xsd:restriction>
                                                </xsd:simpleType>
                                            </xsd:element>
                                            <xsd:element name="rout_q_apt" nillable="false">
                                                <xsd:simpleType>
                                                    <xsd:annotation>
                                                        <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations"> com.ibm.cics.wsdl.properties.charlength=fixed com.ibm.cics.wsdl.properties.synchronized=false</xsd:appinfo>
                                                    </xsd:annotation>
                                                    <xsd:restriction base="xsd:string">
                                                        <xsd:maxLength value="6"/>
                                                        <xsd:whiteSpace value="collapse"/>
                                                    </xsd:restriction>
                                                </xsd:simpleType>
                                            </xsd:element>
                                            <xsd:element name="rout_q_city" nillable="false">
                                                <xsd:simpleType>
                                                    <xsd:annotation>
                                                        <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations"> com.ibm.cics.wsdl.properties.charlength=fixed com.ibm.cics.wsdl.properties.synchronized=false</xsd:appinfo>
                                                    </xsd:annotation>
                                                    <xsd:restriction base="xsd:string">
                                                        <xsd:maxLength value="21"/>
                                                        <xsd:whiteSpace value="collapse"/>
                                                    </xsd:restriction>
                                                </xsd:simpleType>
                                            </xsd:element>
                                            <xsd:element name="rout_q_st" nillable="false">
                                                <xsd:simpleType>
                                                    <xsd:annotation>
                                                        <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations"> com.ibm.cics.wsdl.properties.charlength=fixed com.ibm.cics.wsdl.properties.synchronized=false</xsd:appinfo>
                                                    </xsd:annotation>
                                                    <xsd:restriction base="xsd:string">
                                                        <xsd:maxLength value="2"/>
                                                        <xsd:whiteSpace value="collapse"/>
                                                    </xsd:restriction>
                                                </xsd:simpleType>
                                            </xsd:element>
                                            <xsd:element name="rout_q_zip" nillable="false">
                                                <xsd:simpleType>
                                                    <xsd:annotation>
                                                        <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations"> com.ibm.cics.wsdl.properties.charlength=fixed com.ibm.cics.wsdl.properties.synchronized=false</xsd:appinfo>
                                                    </xsd:annotation>
                                                    <xsd:restriction base="xsd:string">
                                                        <xsd:maxLength value="5"/>
                                                        <xsd:whiteSpace value="collapse"/>
                                                    </xsd:restriction>
                                                </xsd:simpleType>
                                            </xsd:element>
                                            <xsd:element name="rout_q_country_cd_5" nillable="false">
                                                <xsd:complexType mixed="false">
                                                    <xsd:sequence>
                                                        <xsd:element name="rout_q_country_cd_zero" nillable="false">
                                                            <xsd:simpleType>
                                                                <xsd:annotation>
                                                                    <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations"> com.ibm.cics.wsdl.properties.charlength=fixed com.ibm.cics.wsdl.properties.synchronized=false</xsd:appinfo>
                                                                </xsd:annotation>
                                                                <xsd:restriction base="xsd:string">
                                                                    <xsd:maxLength value="2"/>
                                                                    <xsd:whiteSpace value="collapse"/>
                                                                </xsd:restriction>
                                                            </xsd:simpleType>
                                                        </xsd:element>
                                                        <xsd:element name="rout_q_country_cd" nillable="false">
                                                            <xsd:simpleType>
                                                                <xsd:annotation>
                                                                    <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations"> com.ibm.cics.wsdl.properties.charlength=fixed com.ibm.cics.wsdl.properties.synchronized=false</xsd:appinfo>
                                                                </xsd:annotation>
                                                                <xsd:restriction base="xsd:string">
                                                                    <xsd:maxLength value="3"/>
                                                                    <xsd:whiteSpace value="collapse"/>
                                                                </xsd:restriction>
                                                            </xsd:simpleType>
                                                        </xsd:element>
                                                    </xsd:sequence>
                                                </xsd:complexType>
                                            </xsd:element>
                                            <xsd:element name="rout_q_prod_code" nillable="false">
                                                <xsd:simpleType>
                                                    <xsd:annotation>
                                                        <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations"> com.ibm.cics.wsdl.properties.charlength=fixed com.ibm.cics.wsdl.properties.synchronized=false</xsd:appinfo>
                                                    </xsd:annotation>
                                                    <xsd:restriction base="xsd:string">
                                                        <xsd:maxLength value="2"/>
                                                        <xsd:whiteSpace value="collapse"/>
                                                    </xsd:restriction>
                                                </xsd:simpleType>
                                            </xsd:element>
                                        </xsd:sequence>
                                    </xsd:complexType>
                                </xsd:element>
                                <xsd:element name="rout_s_response_info" nillable="false">
                                    <xsd:complexType mixed="false">
                                        <xsd:sequence>
                                            <xsd:element name="rout_s_rout_num" nillable="false">
                                                <xsd:simpleType>
                                                    <xsd:annotation>
                                                        <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations"> com.ibm.cics.wsdl.properties.charlength=fixed com.ibm.cics.wsdl.properties.synchronized=false</xsd:appinfo>
                                                    </xsd:annotation>
                                                    <xsd:restriction base="xsd:string">
                                                        <xsd:maxLength value="6"/>
                                                        <xsd:whiteSpace value="collapse"/>
                                                    </xsd:restriction>
                                                </xsd:simpleType>
                                            </xsd:element>
                                            <xsd:element name="rout_s_daily_route" nillable="false">
                                                <xsd:simpleType>
                                                    <xsd:annotation>
                                                        <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations"> com.ibm.cics.wsdl.properties.charlength=fixed com.ibm.cics.wsdl.properties.synchronized=false</xsd:appinfo>
                                                    </xsd:annotation>
                                                    <xsd:restriction base="xsd:string">
                                                        <xsd:maxLength value="6"/>
                                                        <xsd:whiteSpace value="collapse"/>
                                                    </xsd:restriction>
                                                </xsd:simpleType>
                                            </xsd:element>
                                            <xsd:element name="rout_s_sunday_route" nillable="false">
                                                <xsd:simpleType>
                                                    <xsd:annotation>
                                                        <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations"> com.ibm.cics.wsdl.properties.charlength=fixed com.ibm.cics.wsdl.properties.synchronized=false</xsd:appinfo>
                                                    </xsd:annotation>
                                                    <xsd:restriction base="xsd:string">
                                                        <xsd:maxLength value="6"/>
                                                        <xsd:whiteSpace value="collapse"/>
                                                    </xsd:restriction>
                                                </xsd:simpleType>
                                            </xsd:element>
                                            <xsd:element name="rout_s_rout_type" nillable="false">
                                                <xsd:simpleType>
                                                    <xsd:annotation>
                                                        <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations"> com.ibm.cics.wsdl.properties.charlength=fixed com.ibm.cics.wsdl.properties.synchronized=false</xsd:appinfo>
                                                    </xsd:annotation>
                                                    <xsd:restriction base="xsd:string">
                                                        <xsd:maxLength value="1"/>
                                                        <xsd:whiteSpace value="collapse"/>
                                                    </xsd:restriction>
                                                </xsd:simpleType>
                                            </xsd:element>
                                            <xsd:element name="rout_s_rout_area" nillable="false">
                                                <xsd:simpleType>
                                                    <xsd:annotation>
                                                        <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations"> com.ibm.cics.wsdl.properties.charlength=fixed com.ibm.cics.wsdl.properties.synchronized=false</xsd:appinfo>
                                                    </xsd:annotation>
                                                    <xsd:restriction base="xsd:string">
                                                        <xsd:maxLength value="2"/>
                                                        <xsd:whiteSpace value="collapse"/>
                                                    </xsd:restriction>
                                                </xsd:simpleType>
                                            </xsd:element>
                                            <xsd:element name="rout_s_rout_region" nillable="false">
                                                <xsd:simpleType>
                                                    <xsd:annotation>
                                                        <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations"> com.ibm.cics.wsdl.properties.charlength=fixed com.ibm.cics.wsdl.properties.synchronized=false</xsd:appinfo>
                                                    </xsd:annotation>
                                                    <xsd:restriction base="xsd:string">
                                                        <xsd:maxLength value="3"/>
                                                        <xsd:whiteSpace value="collapse"/>
                                                    </xsd:restriction>
                                                </xsd:simpleType>
                                            </xsd:element>
                                            <xsd:element name="rout_s_rout_district" nillable="false">
                                                <xsd:simpleType>
                                                    <xsd:annotation>
                                                        <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations"> com.ibm.cics.wsdl.properties.charlength=fixed com.ibm.cics.wsdl.properties.synchronized=false</xsd:appinfo>
                                                    </xsd:annotation>
                                                    <xsd:restriction base="xsd:string">
                                                        <xsd:maxLength value="3"/>
                                                        <xsd:whiteSpace value="collapse"/>
                                                    </xsd:restriction>
                                                </xsd:simpleType>
                                            </xsd:element>
                                            <xsd:element name="rout_s_rout_depot" nillable="false">
                                                <xsd:simpleType>
                                                    <xsd:annotation>
                                                        <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations"> com.ibm.cics.wsdl.properties.charlength=fixed com.ibm.cics.wsdl.properties.synchronized=false</xsd:appinfo>
                                                    </xsd:annotation>
                                                    <xsd:restriction base="xsd:string">
                                                        <xsd:maxLength value="3"/>
                                                        <xsd:whiteSpace value="collapse"/>
                                                    </xsd:restriction>
                                                </xsd:simpleType>
                                            </xsd:element>
                                            <xsd:element name="rout_s_products_available" nillable="false">
                                                <xsd:simpleType>
                                                    <xsd:annotation>
                                                        <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations"> com.ibm.cics.wsdl.properties.charlength=fixed com.ibm.cics.wsdl.properties.synchronized=false</xsd:appinfo>
                                                    </xsd:annotation>
                                                    <xsd:restriction base="xsd:string">
                                                        <xsd:maxLength value="150"/>
                                                        <xsd:whiteSpace value="collapse"/>
                                                    </xsd:restriction>
                                                </xsd:simpleType>
                                            </xsd:element>
                                            <xsd:element name="rout_s_access_code" nillable="false">
                                                <xsd:simpleType>
                                                    <xsd:annotation>
                                                        <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations"> com.ibm.cics.wsdl.properties.charlength=fixed com.ibm.cics.wsdl.properties.synchronized=false</xsd:appinfo>
                                                    </xsd:annotation>
                                                    <xsd:restriction base="xsd:string">
                                                        <xsd:maxLength value="3"/>
                                                        <xsd:whiteSpace value="collapse"/>
                                                    </xsd:restriction>
                                                </xsd:simpleType>
                                            </xsd:element>
                                            <xsd:element name="rout_s_nr_street_list" nillable="false">
                                                <xsd:complexType mixed="false">
                                                    <xsd:sequence>
                                                        <xsd:element maxOccurs="14" minOccurs="14" name="rout_s_nr_street_entry" nillable="false">
                                                            <xsd:complexType mixed="false">
                                                                <xsd:sequence>
                                                                    <xsd:element name="rout_s_nr_prefix" nillable="false">
                                                                        <xsd:simpleType>
                                                                            <xsd:annotation>
                                                                                <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations"> com.ibm.cics.wsdl.properties.charlength=fixed com.ibm.cics.wsdl.properties.synchronized=false</xsd:appinfo>
                                                                            </xsd:annotation>
                                                                            <xsd:restriction base="xsd:string">
                                                                                <xsd:maxLength value="2"/>
                                                                                <xsd:whiteSpace value="collapse"/>
                                                                            </xsd:restriction>
                                                                        </xsd:simpleType>
                                                                    </xsd:element>
                                                                    <xsd:element name="rout_s_nr_street" nillable="false">
                                                                        <xsd:simpleType>
                                                                            <xsd:annotation>
                                                                                <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations"> com.ibm.cics.wsdl.properties.charlength=fixed com.ibm.cics.wsdl.properties.synchronized=false</xsd:appinfo>
                                                                            </xsd:annotation>
                                                                            <xsd:restriction base="xsd:string">
                                                                                <xsd:maxLength value="16"/>
                                                                                <xsd:whiteSpace value="collapse"/>
                                                                            </xsd:restriction>
                                                                        </xsd:simpleType>
                                                                    </xsd:element>
                                                                    <xsd:element name="rout_s_nr_suffix" nillable="false">
                                                                        <xsd:simpleType>
                                                                            <xsd:annotation>
                                                                                <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations"> com.ibm.cics.wsdl.properties.charlength=fixed com.ibm.cics.wsdl.properties.synchronized=false</xsd:appinfo>
                                                                            </xsd:annotation>
                                                                            <xsd:restriction base="xsd:string">
                                                                                <xsd:maxLength value="3"/>
                                                                                <xsd:whiteSpace value="collapse"/>
                                                                            </xsd:restriction>
                                                                        </xsd:simpleType>
                                                                    </xsd:element>
                                                                    <xsd:element name="rout_s_nr_dirsfx" nillable="false">
                                                                        <xsd:simpleType>
                                                                            <xsd:annotation>
                                                                                <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations"> com.ibm.cics.wsdl.properties.charlength=fixed com.ibm.cics.wsdl.properties.synchronized=false</xsd:appinfo>
                                                                            </xsd:annotation>
                                                                            <xsd:restriction base="xsd:string">
                                                                                <xsd:maxLength value="2"/>
                                                                                <xsd:whiteSpace value="collapse"/>
                                                                            </xsd:restriction>
                                                                        </xsd:simpleType>
                                                                    </xsd:element>
                                                                    <xsd:element name="rout_s_nr_zip" nillable="false">
                                                                        <xsd:simpleType>
                                                                            <xsd:annotation>
                                                                                <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations"> com.ibm.cics.wsdl.properties.charlength=fixed com.ibm.cics.wsdl.properties.synchronized=false</xsd:appinfo>
                                                                            </xsd:annotation>
                                                                            <xsd:restriction base="xsd:string">
                                                                                <xsd:maxLength value="5"/>
                                                                                <xsd:whiteSpace value="collapse"/>
                                                                            </xsd:restriction>
                                                                        </xsd:simpleType>
                                                                    </xsd:element>
                                                                    <xsd:element name="rout_s_nr_low_range" nillable="false">
                                                                        <xsd:simpleType>
                                                                            <xsd:annotation>
                                                                                <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations"> com.ibm.cics.wsdl.properties.charlength=fixed com.ibm.cics.wsdl.properties.synchronized=false</xsd:appinfo>
                                                                            </xsd:annotation>
                                                                            <xsd:restriction base="xsd:string">
                                                                                <xsd:maxLength value="9"/>
                                                                                <xsd:whiteSpace value="collapse"/>
                                                                            </xsd:restriction>
                                                                        </xsd:simpleType>
                                                                    </xsd:element>
                                                                    <xsd:element name="rout_s_nr_high_range" nillable="false">
                                                                        <xsd:simpleType>
                                                                            <xsd:annotation>
                                                                                <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations"> com.ibm.cics.wsdl.properties.charlength=fixed com.ibm.cics.wsdl.properties.synchronized=false</xsd:appinfo>
                                                                            </xsd:annotation>
                                                                            <xsd:restriction base="xsd:string">
                                                                                <xsd:maxLength value="9"/>
                                                                                <xsd:whiteSpace value="collapse"/>
                                                                            </xsd:restriction>
                                                                        </xsd:simpleType>
                                                                    </xsd:element>
                                                                    <xsd:element name="rout_s_nr_city" nillable="false">
                                                                        <xsd:simpleType>
                                                                            <xsd:annotation>
                                                                                <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations"> com.ibm.cics.wsdl.properties.charlength=fixed com.ibm.cics.wsdl.properties.synchronized=false</xsd:appinfo>
                                                                            </xsd:annotation>
                                                                            <xsd:restriction base="xsd:string">
                                                                                <xsd:maxLength value="12"/>
                                                                                <xsd:whiteSpace value="collapse"/>
                                                                            </xsd:restriction>
                                                                        </xsd:simpleType>
                                                                    </xsd:element>
                                                                    <xsd:element name="rout_s_nr_cnty" nillable="false">
                                                                        <xsd:simpleType>
                                                                            <xsd:annotation>
                                                                                <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations"> com.ibm.cics.wsdl.properties.charlength=fixed com.ibm.cics.wsdl.properties.synchronized=false</xsd:appinfo>
                                                                            </xsd:annotation>
                                                                            <xsd:restriction base="xsd:string">
                                                                                <xsd:maxLength value="2"/>
                                                                                <xsd:whiteSpace value="collapse"/>
                                                                            </xsd:restriction>
                                                                        </xsd:simpleType>
                                                                    </xsd:element>
                                                                    <xsd:element name="rout_s_nr_route" nillable="false">
                                                                        <xsd:simpleType>
                                                                            <xsd:annotation>
                                                                                <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations"> com.ibm.cics.wsdl.properties.charlength=fixed com.ibm.cics.wsdl.properties.synchronized=false</xsd:appinfo>
                                                                            </xsd:annotation>
                                                                            <xsd:restriction base="xsd:string">
                                                                                <xsd:maxLength value="6"/>
                                                                                <xsd:whiteSpace value="collapse"/>
                                                                            </xsd:restriction>
                                                                        </xsd:simpleType>
                                                                    </xsd:element>
                                                                </xsd:sequence>
                                                            </xsd:complexType>
                                                        </xsd:element>
                                                    </xsd:sequence>
                                                </xsd:complexType>
                                            </xsd:element>
                                            <xsd:element name="rout_s_error_code" nillable="false">
                                                <xsd:simpleType>
                                                    <xsd:annotation>
                                                        <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations"> com.ibm.cics.wsdl.properties.charlength=fixed com.ibm.cics.wsdl.properties.synchronized=false</xsd:appinfo>
                                                    </xsd:annotation>
                                                    <xsd:restriction base="xsd:string">
                                                        <xsd:maxLength value="6"/>
                                                        <xsd:whiteSpace value="collapse"/>
                                                    </xsd:restriction>
                                                </xsd:simpleType>
                                            </xsd:element>
                                            <xsd:element name="rout_s_error_message" nillable="false">
                                                <xsd:simpleType>
                                                    <xsd:annotation>
                                                        <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations"> com.ibm.cics.wsdl.properties.charlength=fixed com.ibm.cics.wsdl.properties.synchronized=false</xsd:appinfo>
                                                    </xsd:annotation>
                                                    <xsd:restriction base="xsd:string">
                                                        <xsd:maxLength value="80"/>
                                                        <xsd:whiteSpace value="collapse"/>
                                                    </xsd:restriction>
                                                </xsd:simpleType>
                                            </xsd:element>
                                        </xsd:sequence>
                                    </xsd:complexType>
                                </xsd:element>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="HDWEBUPAOperation" nillable="false" type="tns:ProgramInterface"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="https://www.HDWEBUPA.HDWBROUT.Response.com" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="https://www.HDWEBUPA.HDWBROUT.Response.com">
            <xsd:annotation>
                <xsd:documentation source="http://www.ibm.com/software/htp/cics/annotations">This schema was generated by the CICS Web services assistant.</xsd:documentation>
            </xsd:annotation>
            <xsd:annotation>
                <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations"> com.ibm.cics.wsdl.properties.mappingLevel=3.0</xsd:appinfo>
            </xsd:annotation>
            <xsd:complexType abstract="false" block="#all" final="#all" mixed="false" name="ProgramInterface">
                <xsd:sequence>
                    <xsd:element name="rout_rec" nillable="false">
                        <xsd:complexType mixed="false">
                            <xsd:sequence>
                                <xsd:element name="rout_request_identification" nillable="false">
                                    <xsd:complexType mixed="false">
                                        <xsd:sequence>
                                            <xsd:element name="rout_h_order_id" nillable="false">
                                                <xsd:simpleType>
                                                    <xsd:annotation>
                                                        <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations"> com.ibm.cics.wsdl.properties.charlength=fixed com.ibm.cics.wsdl.properties.synchronized=false</xsd:appinfo>
                                                    </xsd:annotation>
                                                    <xsd:restriction base="xsd:string">
                                                        <xsd:maxLength value="12"/>
                                                        <xsd:whiteSpace value="collapse"/>
                                                    </xsd:restriction>
                                                </xsd:simpleType>
                                            </xsd:element>
                                            <xsd:element name="rout_h_sr_trans_type" nillable="false">
                                                <xsd:simpleType>
                                                    <xsd:annotation>
                                                        <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations"> com.ibm.cics.wsdl.properties.charlength=fixed com.ibm.cics.wsdl.properties.synchronized=false</xsd:appinfo>
                                                    </xsd:annotation>
                                                    <xsd:restriction base="xsd:string">
                                                        <xsd:maxLength value="12"/>
                                                        <xsd:whiteSpace value="collapse"/>
                                                    </xsd:restriction>
                                                </xsd:simpleType>
                                            </xsd:element>
                                            <xsd:element name="rout_h_function" nillable="false">
                                                <xsd:simpleType>
                                                    <xsd:annotation>
                                                        <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations"> com.ibm.cics.wsdl.properties.charlength=fixed com.ibm.cics.wsdl.properties.synchronized=false</xsd:appinfo>
                                                    </xsd:annotation>
                                                    <xsd:restriction base="xsd:string">
                                                        <xsd:maxLength value="1"/>
                                                        <xsd:whiteSpace value="collapse"/>
                                                    </xsd:restriction>
                                                </xsd:simpleType>
                                            </xsd:element>
                                            <xsd:element name="rout_h_trans_id" nillable="false">
                                                <xsd:simpleType>
                                                    <xsd:annotation>
                                                        <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations"> com.ibm.cics.wsdl.properties.charlength=fixed com.ibm.cics.wsdl.properties.synchronized=false</xsd:appinfo>
                                                    </xsd:annotation>
                                                    <xsd:restriction base="xsd:string">
                                                        <xsd:maxLength value="9"/>
                                                        <xsd:whiteSpace value="collapse"/>
                                                    </xsd:restriction>
                                                </xsd:simpleType>
                                            </xsd:element>
                                            <xsd:element name="rout_h_operator_id" nillable="false">
                                                <xsd:simpleType>
                                                    <xsd:annotation>
                                                        <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations"> com.ibm.cics.wsdl.properties.charlength=fixed com.ibm.cics.wsdl.properties.synchronized=false</xsd:appinfo>
                                                    </xsd:annotation>
                                                    <xsd:restriction base="xsd:string">
                                                        <xsd:maxLength value="3"/>
                                                        <xsd:whiteSpace value="collapse"/>
                                                    </xsd:restriction>
                                                </xsd:simpleType>
                                            </xsd:element>
                                        </xsd:sequence>
                                    </xsd:complexType>
                                </xsd:element>
                                <xsd:element name="rout_q_request_info" nillable="false">
                                    <xsd:complexType mixed="false">
                                        <xsd:sequence>
                                            <xsd:element name="rout_q_delivery_type" nillable="false">
                                                <xsd:simpleType>
                                                    <xsd:annotation>
                                                        <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations"> com.ibm.cics.wsdl.properties.charlength=fixed com.ibm.cics.wsdl.properties.synchronized=false</xsd:appinfo>
                                                    </xsd:annotation>
                                                    <xsd:restriction base="xsd:string">
                                                        <xsd:maxLength value="2"/>
                                                        <xsd:whiteSpace value="collapse"/>
                                                    </xsd:restriction>
                                                </xsd:simpleType>
                                            </xsd:element>
                                            <xsd:element name="rout_q_street_no" nillable="false">
                                                <xsd:simpleType>
                                                    <xsd:annotation>
                                                        <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations"> com.ibm.cics.wsdl.properties.charlength=fixed com.ibm.cics.wsdl.properties.synchronized=false</xsd:appinfo>
                                                    </xsd:annotation>
                                                    <xsd:restriction base="xsd:string">
                                                        <xsd:maxLength value="9"/>
                                                        <xsd:whiteSpace value="collapse"/>
                                                    </xsd:restriction>
                                                </xsd:simpleType>
                                            </xsd:element>
                                            <xsd:element name="rout_q_pfx" nillable="false">
                                                <xsd:simpleType>
                                                    <xsd:annotation>
                                                        <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations"> com.ibm.cics.wsdl.properties.charlength=fixed com.ibm.cics.wsdl.properties.synchronized=false</xsd:appinfo>
                                                    </xsd:annotation>
                                                    <xsd:restriction base="xsd:string">
                                                        <xsd:maxLength value="2"/>
                                                        <xsd:whiteSpace value="collapse"/>
                                                    </xsd:restriction>
                                                </xsd:simpleType>
                                            </xsd:element>
                                            <xsd:element name="rout_q_street" nillable="false">
                                                <xsd:simpleType>
                                                    <xsd:annotation>
                                                        <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations"> com.ibm.cics.wsdl.properties.charlength=fixed com.ibm.cics.wsdl.properties.synchronized=false</xsd:appinfo>
                                                    </xsd:annotation>
                                                    <xsd:restriction base="xsd:string">
                                                        <xsd:maxLength value="16"/>
                                                        <xsd:whiteSpace value="collapse"/>
                                                    </xsd:restriction>
                                                </xsd:simpleType>
                                            </xsd:element>
                                            <xsd:element name="rout_q_sfx" nillable="false">
                                                <xsd:simpleType>
                                                    <xsd:annotation>
                                                        <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations"> com.ibm.cics.wsdl.properties.charlength=fixed com.ibm.cics.wsdl.properties.synchronized=false</xsd:appinfo>
                                                    </xsd:annotation>
                                                    <xsd:restriction base="xsd:string">
                                                        <xsd:maxLength value="3"/>
                                                        <xsd:whiteSpace value="collapse"/>
                                                    </xsd:restriction>
                                                </xsd:simpleType>
                                            </xsd:element>
                                            <xsd:element name="rout_q_dir_sfx" nillable="false">
                                                <xsd:simpleType>
                                                    <xsd:annotation>
                                                        <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations"> com.ibm.cics.wsdl.properties.charlength=fixed com.ibm.cics.wsdl.properties.synchronized=false</xsd:appinfo>
                                                    </xsd:annotation>
                                                    <xsd:restriction base="xsd:string">
                                                        <xsd:maxLength value="2"/>
                                                        <xsd:whiteSpace value="collapse"/>
                                                    </xsd:restriction>
                                                </xsd:simpleType>
                                            </xsd:element>
                                            <xsd:element name="rout_q_apt" nillable="false">
                                                <xsd:simpleType>
                                                    <xsd:annotation>
                                                        <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations"> com.ibm.cics.wsdl.properties.charlength=fixed com.ibm.cics.wsdl.properties.synchronized=false</xsd:appinfo>
                                                    </xsd:annotation>
                                                    <xsd:restriction base="xsd:string">
                                                        <xsd:maxLength value="6"/>
                                                        <xsd:whiteSpace value="collapse"/>
                                                    </xsd:restriction>
                                                </xsd:simpleType>
                                            </xsd:element>
                                            <xsd:element name="rout_q_city" nillable="false">
                                                <xsd:simpleType>
                                                    <xsd:annotation>
                                                        <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations"> com.ibm.cics.wsdl.properties.charlength=fixed com.ibm.cics.wsdl.properties.synchronized=false</xsd:appinfo>
                                                    </xsd:annotation>
                                                    <xsd:restriction base="xsd:string">
                                                        <xsd:maxLength value="21"/>
                                                        <xsd:whiteSpace value="collapse"/>
                                                    </xsd:restriction>
                                                </xsd:simpleType>
                                            </xsd:element>
                                            <xsd:element name="rout_q_st" nillable="false">
                                                <xsd:simpleType>
                                                    <xsd:annotation>
                                                        <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations"> com.ibm.cics.wsdl.properties.charlength=fixed com.ibm.cics.wsdl.properties.synchronized=false</xsd:appinfo>
                                                    </xsd:annotation>
                                                    <xsd:restriction base="xsd:string">
                                                        <xsd:maxLength value="2"/>
                                                        <xsd:whiteSpace value="collapse"/>
                                                    </xsd:restriction>
                                                </xsd:simpleType>
                                            </xsd:element>
                                            <xsd:element name="rout_q_zip" nillable="false">
                                                <xsd:simpleType>
                                                    <xsd:annotation>
                                                        <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations"> com.ibm.cics.wsdl.properties.charlength=fixed com.ibm.cics.wsdl.properties.synchronized=false</xsd:appinfo>
                                                    </xsd:annotation>
                                                    <xsd:restriction base="xsd:string">
                                                        <xsd:maxLength value="5"/>
                                                        <xsd:whiteSpace value="collapse"/>
                                                    </xsd:restriction>
                                                </xsd:simpleType>
                                            </xsd:element>
                                            <xsd:element name="rout_q_country_cd_5" nillable="false">
                                                <xsd:complexType mixed="false">
                                                    <xsd:sequence>
                                                        <xsd:element name="rout_q_country_cd_zero" nillable="false">
                                                            <xsd:simpleType>
                                                                <xsd:annotation>
                                                                    <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations"> com.ibm.cics.wsdl.properties.charlength=fixed com.ibm.cics.wsdl.properties.synchronized=false</xsd:appinfo>
                                                                </xsd:annotation>
                                                                <xsd:restriction base="xsd:string">
                                                                    <xsd:maxLength value="2"/>
                                                                    <xsd:whiteSpace value="collapse"/>
                                                                </xsd:restriction>
                                                            </xsd:simpleType>
                                                        </xsd:element>
                                                        <xsd:element name="rout_q_country_cd" nillable="false">
                                                            <xsd:simpleType>
                                                                <xsd:annotation>
                                                                    <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations"> com.ibm.cics.wsdl.properties.charlength=fixed com.ibm.cics.wsdl.properties.synchronized=false</xsd:appinfo>
                                                                </xsd:annotation>
                                                                <xsd:restriction base="xsd:string">
                                                                    <xsd:maxLength value="3"/>
                                                                    <xsd:whiteSpace value="collapse"/>
                                                                </xsd:restriction>
                                                            </xsd:simpleType>
                                                        </xsd:element>
                                                    </xsd:sequence>
                                                </xsd:complexType>
                                            </xsd:element>
                                            <xsd:element name="rout_q_prod_code" nillable="false">
                                                <xsd:simpleType>
                                                    <xsd:annotation>
                                                        <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations"> com.ibm.cics.wsdl.properties.charlength=fixed com.ibm.cics.wsdl.properties.synchronized=false</xsd:appinfo>
                                                    </xsd:annotation>
                                                    <xsd:restriction base="xsd:string">
                                                        <xsd:maxLength value="2"/>
                                                        <xsd:whiteSpace value="collapse"/>
                                                    </xsd:restriction>
                                                </xsd:simpleType>
                                            </xsd:element>
                                        </xsd:sequence>
                                    </xsd:complexType>
                                </xsd:element>
                                <xsd:element name="rout_s_response_info" nillable="false">
                                    <xsd:complexType mixed="false">
                                        <xsd:sequence>
                                            <xsd:element name="rout_s_rout_num" nillable="false">
                                                <xsd:simpleType>
                                                    <xsd:annotation>
                                                        <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations"> com.ibm.cics.wsdl.properties.charlength=fixed com.ibm.cics.wsdl.properties.synchronized=false</xsd:appinfo>
                                                    </xsd:annotation>
                                                    <xsd:restriction base="xsd:string">
                                                        <xsd:maxLength value="6"/>
                                                        <xsd:whiteSpace value="collapse"/>
                                                    </xsd:restriction>
                                                </xsd:simpleType>
                                            </xsd:element>
                                            <xsd:element name="rout_s_daily_route" nillable="false">
                                                <xsd:simpleType>
                                                    <xsd:annotation>
                                                        <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations"> com.ibm.cics.wsdl.properties.charlength=fixed com.ibm.cics.wsdl.properties.synchronized=false</xsd:appinfo>
                                                    </xsd:annotation>
                                                    <xsd:restriction base="xsd:string">
                                                        <xsd:maxLength value="6"/>
                                                        <xsd:whiteSpace value="collapse"/>
                                                    </xsd:restriction>
                                                </xsd:simpleType>
                                            </xsd:element>
                                            <xsd:element name="rout_s_sunday_route" nillable="false">
                                                <xsd:simpleType>
                                                    <xsd:annotation>
                                                        <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations"> com.ibm.cics.wsdl.properties.charlength=fixed com.ibm.cics.wsdl.properties.synchronized=false</xsd:appinfo>
                                                    </xsd:annotation>
                                                    <xsd:restriction base="xsd:string">
                                                        <xsd:maxLength value="6"/>
                                                        <xsd:whiteSpace value="collapse"/>
                                                    </xsd:restriction>
                                                </xsd:simpleType>
                                            </xsd:element>
                                            <xsd:element name="rout_s_rout_type" nillable="false">
                                                <xsd:simpleType>
                                                    <xsd:annotation>
                                                        <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations"> com.ibm.cics.wsdl.properties.charlength=fixed com.ibm.cics.wsdl.properties.synchronized=false</xsd:appinfo>
                                                    </xsd:annotation>
                                                    <xsd:restriction base="xsd:string">
                                                        <xsd:maxLength value="1"/>
                                                        <xsd:whiteSpace value="collapse"/>
                                                    </xsd:restriction>
                                                </xsd:simpleType>
                                            </xsd:element>
                                            <xsd:element name="rout_s_rout_area" nillable="false">
                                                <xsd:simpleType>
                                                    <xsd:annotation>
                                                        <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations"> com.ibm.cics.wsdl.properties.charlength=fixed com.ibm.cics.wsdl.properties.synchronized=false</xsd:appinfo>
                                                    </xsd:annotation>
                                                    <xsd:restriction base="xsd:string">
                                                        <xsd:maxLength value="2"/>
                                                        <xsd:whiteSpace value="collapse"/>
                                                    </xsd:restriction>
                                                </xsd:simpleType>
                                            </xsd:element>
                                            <xsd:element name="rout_s_rout_region" nillable="false">
                                                <xsd:simpleType>
                                                    <xsd:annotation>
                                                        <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations"> com.ibm.cics.wsdl.properties.charlength=fixed com.ibm.cics.wsdl.properties.synchronized=false</xsd:appinfo>
                                                    </xsd:annotation>
                                                    <xsd:restriction base="xsd:string">
                                                        <xsd:maxLength value="3"/>
                                                        <xsd:whiteSpace value="collapse"/>
                                                    </xsd:restriction>
                                                </xsd:simpleType>
                                            </xsd:element>
                                            <xsd:element name="rout_s_rout_district" nillable="false">
                                                <xsd:simpleType>
                                                    <xsd:annotation>
                                                        <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations"> com.ibm.cics.wsdl.properties.charlength=fixed com.ibm.cics.wsdl.properties.synchronized=false</xsd:appinfo>
                                                    </xsd:annotation>
                                                    <xsd:restriction base="xsd:string">
                                                        <xsd:maxLength value="3"/>
                                                        <xsd:whiteSpace value="collapse"/>
                                                    </xsd:restriction>
                                                </xsd:simpleType>
                                            </xsd:element>
                                            <xsd:element name="rout_s_rout_depot" nillable="false">
                                                <xsd:simpleType>
                                                    <xsd:annotation>
                                                        <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations"> com.ibm.cics.wsdl.properties.charlength=fixed com.ibm.cics.wsdl.properties.synchronized=false</xsd:appinfo>
                                                    </xsd:annotation>
                                                    <xsd:restriction base="xsd:string">
                                                        <xsd:maxLength value="3"/>
                                                        <xsd:whiteSpace value="collapse"/>
                                                    </xsd:restriction>
                                                </xsd:simpleType>
                                            </xsd:element>
                                            <xsd:element name="rout_s_products_available" nillable="false">
                                                <xsd:simpleType>
                                                    <xsd:annotation>
                                                        <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations"> com.ibm.cics.wsdl.properties.charlength=fixed com.ibm.cics.wsdl.properties.synchronized=false</xsd:appinfo>
                                                    </xsd:annotation>
                                                    <xsd:restriction base="xsd:string">
                                                        <xsd:maxLength value="150"/>
                                                        <xsd:whiteSpace value="collapse"/>
                                                    </xsd:restriction>
                                                </xsd:simpleType>
                                            </xsd:element>
                                            <xsd:element name="rout_s_access_code" nillable="false">
                                                <xsd:simpleType>
                                                    <xsd:annotation>
                                                        <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations"> com.ibm.cics.wsdl.properties.charlength=fixed com.ibm.cics.wsdl.properties.synchronized=false</xsd:appinfo>
                                                    </xsd:annotation>
                                                    <xsd:restriction base="xsd:string">
                                                        <xsd:maxLength value="3"/>
                                                        <xsd:whiteSpace value="collapse"/>
                                                    </xsd:restriction>
                                                </xsd:simpleType>
                                            </xsd:element>
                                            <xsd:element name="rout_s_nr_street_list" nillable="false">
                                                <xsd:complexType mixed="false">
                                                    <xsd:sequence>
                                                        <xsd:element maxOccurs="14" minOccurs="14" name="rout_s_nr_street_entry" nillable="false">
                                                            <xsd:complexType mixed="false">
                                                                <xsd:sequence>
                                                                    <xsd:element name="rout_s_nr_prefix" nillable="false">
                                                                        <xsd:simpleType>
                                                                            <xsd:annotation>
                                                                                <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations"> com.ibm.cics.wsdl.properties.charlength=fixed com.ibm.cics.wsdl.properties.synchronized=false</xsd:appinfo>
                                                                            </xsd:annotation>
                                                                            <xsd:restriction base="xsd:string">
                                                                                <xsd:maxLength value="2"/>
                                                                                <xsd:whiteSpace value="collapse"/>
                                                                            </xsd:restriction>
                                                                        </xsd:simpleType>
                                                                    </xsd:element>
                                                                    <xsd:element name="rout_s_nr_street" nillable="false">
                                                                        <xsd:simpleType>
                                                                            <xsd:annotation>
                                                                                <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations"> com.ibm.cics.wsdl.properties.charlength=fixed com.ibm.cics.wsdl.properties.synchronized=false</xsd:appinfo>
                                                                            </xsd:annotation>
                                                                            <xsd:restriction base="xsd:string">
                                                                                <xsd:maxLength value="16"/>
                                                                                <xsd:whiteSpace value="collapse"/>
                                                                            </xsd:restriction>
                                                                        </xsd:simpleType>
                                                                    </xsd:element>
                                                                    <xsd:element name="rout_s_nr_suffix" nillable="false">
                                                                        <xsd:simpleType>
                                                                            <xsd:annotation>
                                                                                <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations"> com.ibm.cics.wsdl.properties.charlength=fixed com.ibm.cics.wsdl.properties.synchronized=false</xsd:appinfo>
                                                                            </xsd:annotation>
                                                                            <xsd:restriction base="xsd:string">
                                                                                <xsd:maxLength value="3"/>
                                                                                <xsd:whiteSpace value="collapse"/>
                                                                            </xsd:restriction>
                                                                        </xsd:simpleType>
                                                                    </xsd:element>
                                                                    <xsd:element name="rout_s_nr_dirsfx" nillable="false">
                                                                        <xsd:simpleType>
                                                                            <xsd:annotation>
                                                                                <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations"> com.ibm.cics.wsdl.properties.charlength=fixed com.ibm.cics.wsdl.properties.synchronized=false</xsd:appinfo>
                                                                            </xsd:annotation>
                                                                            <xsd:restriction base="xsd:string">
                                                                                <xsd:maxLength value="2"/>
                                                                                <xsd:whiteSpace value="collapse"/>
                                                                            </xsd:restriction>
                                                                        </xsd:simpleType>
                                                                    </xsd:element>
                                                                    <xsd:element name="rout_s_nr_zip" nillable="false">
                                                                        <xsd:simpleType>
                                                                            <xsd:annotation>
                                                                                <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations"> com.ibm.cics.wsdl.properties.charlength=fixed com.ibm.cics.wsdl.properties.synchronized=false</xsd:appinfo>
                                                                            </xsd:annotation>
                                                                            <xsd:restriction base="xsd:string">
                                                                                <xsd:maxLength value="5"/>
                                                                                <xsd:whiteSpace value="collapse"/>
                                                                            </xsd:restriction>
                                                                        </xsd:simpleType>
                                                                    </xsd:element>
                                                                    <xsd:element name="rout_s_nr_low_range" nillable="false">
                                                                        <xsd:simpleType>
                                                                            <xsd:annotation>
                                                                                <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations"> com.ibm.cics.wsdl.properties.charlength=fixed com.ibm.cics.wsdl.properties.synchronized=false</xsd:appinfo>
                                                                            </xsd:annotation>
                                                                            <xsd:restriction base="xsd:string">
                                                                                <xsd:maxLength value="9"/>
                                                                                <xsd:whiteSpace value="collapse"/>
                                                                            </xsd:restriction>
                                                                        </xsd:simpleType>
                                                                    </xsd:element>
                                                                    <xsd:element name="rout_s_nr_high_range" nillable="false">
                                                                        <xsd:simpleType>
                                                                            <xsd:annotation>
                                                                                <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations"> com.ibm.cics.wsdl.properties.charlength=fixed com.ibm.cics.wsdl.properties.synchronized=false</xsd:appinfo>
                                                                            </xsd:annotation>
                                                                            <xsd:restriction base="xsd:string">
                                                                                <xsd:maxLength value="9"/>
                                                                                <xsd:whiteSpace value="collapse"/>
                                                                            </xsd:restriction>
                                                                        </xsd:simpleType>
                                                                    </xsd:element>
                                                                    <xsd:element name="rout_s_nr_city" nillable="false">
                                                                        <xsd:simpleType>
                                                                            <xsd:annotation>
                                                                                <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations"> com.ibm.cics.wsdl.properties.charlength=fixed com.ibm.cics.wsdl.properties.synchronized=false</xsd:appinfo>
                                                                            </xsd:annotation>
                                                                            <xsd:restriction base="xsd:string">
                                                                                <xsd:maxLength value="12"/>
                                                                                <xsd:whiteSpace value="collapse"/>
                                                                            </xsd:restriction>
                                                                        </xsd:simpleType>
                                                                    </xsd:element>
                                                                    <xsd:element name="rout_s_nr_cnty" nillable="false">
                                                                        <xsd:simpleType>
                                                                            <xsd:annotation>
                                                                                <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations"> com.ibm.cics.wsdl.properties.charlength=fixed com.ibm.cics.wsdl.properties.synchronized=false</xsd:appinfo>
                                                                            </xsd:annotation>
                                                                            <xsd:restriction base="xsd:string">
                                                                                <xsd:maxLength value="2"/>
                                                                                <xsd:whiteSpace value="collapse"/>
                                                                            </xsd:restriction>
                                                                        </xsd:simpleType>
                                                                    </xsd:element>
                                                                    <xsd:element name="rout_s_nr_route" nillable="false">
                                                                        <xsd:simpleType>
                                                                            <xsd:annotation>
                                                                                <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations"> com.ibm.cics.wsdl.properties.charlength=fixed com.ibm.cics.wsdl.properties.synchronized=false</xsd:appinfo>
                                                                            </xsd:annotation>
                                                                            <xsd:restriction base="xsd:string">
                                                                                <xsd:maxLength value="6"/>
                                                                                <xsd:whiteSpace value="collapse"/>
                                                                            </xsd:restriction>
                                                                        </xsd:simpleType>
                                                                    </xsd:element>
                                                                </xsd:sequence>
                                                            </xsd:complexType>
                                                        </xsd:element>
                                                    </xsd:sequence>
                                                </xsd:complexType>
                                            </xsd:element>
                                            <xsd:element name="rout_s_error_code" nillable="false">
                                                <xsd:simpleType>
                                                    <xsd:annotation>
                                                        <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations"> com.ibm.cics.wsdl.properties.charlength=fixed com.ibm.cics.wsdl.properties.synchronized=false</xsd:appinfo>
                                                    </xsd:annotation>
                                                    <xsd:restriction base="xsd:string">
                                                        <xsd:maxLength value="6"/>
                                                        <xsd:whiteSpace value="collapse"/>
                                                    </xsd:restriction>
                                                </xsd:simpleType>
                                            </xsd:element>
                                            <xsd:element name="rout_s_error_message" nillable="false">
                                                <xsd:simpleType>
                                                    <xsd:annotation>
                                                        <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations"> com.ibm.cics.wsdl.properties.charlength=fixed com.ibm.cics.wsdl.properties.synchronized=false</xsd:appinfo>
                                                    </xsd:annotation>
                                                    <xsd:restriction base="xsd:string">
                                                        <xsd:maxLength value="80"/>
                                                        <xsd:whiteSpace value="collapse"/>
                                                    </xsd:restriction>
                                                </xsd:simpleType>
                                            </xsd:element>
                                        </xsd:sequence>
                                    </xsd:complexType>
                                </xsd:element>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="HDWEBUPAOperationResponse" nillable="false" type="tns:ProgramInterface"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="HDWEBUPAOperation">
        <wsdl:part element="ns1:HDWEBUPAOperation" name="RequestPart"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="HDWEBUPAOperationResponse">
        <wsdl:part element="ns2:HDWEBUPAOperationResponse" name="ResponsePart"> </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="HDWEBUPAPort">
        <wsdl:operation name="HDWEBUPAOperation">
            <wsdl:input message="tns:HDWEBUPAOperation" name="HDWEBUPAOperation"> </wsdl:input>
            <wsdl:output message="tns:HDWEBUPAOperationResponse" name="HDWEBUPAOperationResponse"> </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="HDWEBUPAServiceSoapBinding" type="tns:HDWEBUPAPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="HDWEBUPAOperation">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="HDWEBUPAOperation">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="HDWEBUPAOperationResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="HDWEBUPAService">
        <wsdl:port binding="tns:HDWEBUPAServiceSoapBinding" name="HDWEBUPAPort">
            <soap:address location="https://aristo-api.stg.iad1.nyt.net/services/HDWBROUT"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>